body{
	margin: 0;
	padding: 0;
  height: 100%;
  font-family: -webkit-pictograph;
}
input{
  text-align: center;
  color: white;
  height: 4rem;
  width: 90%;
  background-color: transparent;
  border: 0;
  font-size: 3rem;
  margin: 1.5rem 1rem;
  outline: none;
}
img{
  margin-bottom: 4rem;
  height: 20rem;
}
#loginLogo{
  margin: 0 auto;
}
.loginImg{
  text-align: center;
  margin-top: 6rem;
}
.root{
  margin: 0 auto;
}