.input{
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 7rem;
    width: 86%;
    background-color: rgba(255,255,255,0.2);
    border: 2px solid rgba(255,255,255,0.5);
}
.loginButton{
    margin: 0 auto;
    margin-bottom: 2rem;
    height: 7rem;
    width: 86%;
    text-align: center;
    background-color: transparent;
    border: 2px solid rgba(255,255,255,0.5);
    font-size: 3rem;
}
.inputArea{
    margin-top: 1rem;
    text-align: center;
  }
.loginText{
    color: white;
    margin-top: 1.5rem;
}
.register{
    float: right;
    margin-right: 4rem;
    color: white;
    font-size: 2rem;
}
.forgetPassword{
    float: left;
    margin-left: 4rem;
    color: white;
    font-size: 2rem;
}
a{
    text-decoration:none;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: rgb(255, 255, 255); opacity:1; font-family: -webkit-pictograph;
  }
  
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: rgb(255, 255, 255);opacity:1; font-family: -webkit-pictograph;
  }
  
  input:-ms-input-placeholder{
    color: rgb(255, 255, 255);opacity:1; font-family: -webkit-pictograph;
  }
  
  input::-webkit-input-placeholder{
    color: rgb(255, 255, 255);opacity:1; font-family: -webkit-pictograph;
}